body{
  font-family: helvetica;
  line-height: 25px;
  background-image: linear-gradient(to right, blue, cyan, blue, cyan, blue);
}

header{
  text-align: center;
  color: orange;
  text-shadow: 4px 4px 4px black;
}

h1{
  font-size: 80px;
  padding: 40px;
}

main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  row-gap: 5px;
  font-size: 18px;
}


.block{
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 1px 1px 5px;
  padding: 10px;
}


.blockTitle{
  font-size: 40px;
  text-align: center;
  margin: 10px;
  text-decoration: underline;
  color: orange;
  text-shadow: 3px 2px 2px black;
}

.imageDiv{
  display: flex;
  justify-content: center;
}

.blockImage{
  object-fit: cover;
  object-position: middle;
  justify-content: center;
  border: 4px solid orange;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  width: 500px;
  height: 400px;
  box-shadow: 0px 0px 20px;
}

#biography{
  text-align: center;
  font-weight: 400;
}

.textRegular{
  text-align: center;
  font-weight: 300;
}

.textBold{
  text-align: center;
  font-weight: bold;
}

ul{
  list-style-type: square;
  list-style-position: inside;
}

#goals{
  text-align: left;
  font-weight: 400;
  margin: 50px;
  font-size: 20px;
}

footer{
  text-align: center;
  margin: 10px;
}

.footerText{
  font-size: 20px;
  color: orange;
  text-shadow: 2px 2px black;
}

#facebook{
  width: 80px;
  height: 80px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  transition: 0.2s;
  vertical-align: middle;
}

#facebook:hover{
  opacity: 0.5;
}

#facebook:active{
  opacity: 0.25;
}

#linkedin{
  width: 94px;
  height: 94px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  transition: 0.2s;
  vertical-align: middle;
}

#linkedin:hover{
  opacity: 0.5;
}

#linkedin:active{
  opacity: 0.25;
}
